@import "bootstrap/scss/bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  list-style-type: none;
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0;
  height: 50vh;
}

li {
  background: white;
  width: 100%;
  font-size: small;
}
